# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

venv
Include
Lib
Scripts
pip-selfcheck.json
pyvenv.cfg
.gitattributes

local_settings.py